<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
    <!-- <button class="edit-pro"><img src="assets/imgs/tools.svg" alt=""></button> -->
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="profile-image-wrap">
            <div class="profile-pic">
                

                <div *ngIf="base64textString !=''" >
                  
                    <img src="{{base64textString}}" alt="">
                  </div>
                  <div *ngIf="base64textString ==''" >
                   
                      <img  src="{{user.customerProfilePic}}" alt="">
                    </div>

                <input style="display: none"  type="file" accept="image/*" (change)="onFileChanged($event)" #fileInput> 
              <span (click)="fileInput.click()" > <ion-icon ios="md-create" md="md-create"></ion-icon></span>
            </div>
          </div>
          <div class="profile-form-wrap">
            <ion-list>
                <div class="static_col">
                  <ion-item>
                    <ion-input type="text" name="customerFirstName" placeholder="First name" [(ngModel)]="user.customerFirstName"></ion-input>
                    <ion-label class="mail-icon-wrap"><img src="assets/imgs/icon-1.png" alt=""></ion-label>
                  </ion-item>
                </div>
                <div class="static_col">
                  <ion-item>
                    <ion-input type="text" name="customerLastName" placeholder="Last name" [(ngModel)]="user.customerLastName"></ion-input>
                    <ion-label class="mail-icon-wrap"><img src="assets/imgs/icon-1.png" alt=""></ion-label>
                  </ion-item>
                </div>
                <div class="static_col">
                  <ion-item>
                    <ion-input type="text" name="enterprice" placeholder="Enterprise" [(ngModel)]="user.customerEnterprise" ></ion-input>
                    <ion-label class="mail-icon-wrap"><img src="assets/imgs/icon-2.png" alt=""></ion-label>
                  </ion-item>
                </div>
                <!-- <div class="static_col">
                  <ion-item>
                    <ion-input type="text" value="Logo enterprise"> </ion-input>
                    <ion-label class="mail-icon-wrap"><img src="assets/imgs/lock.png" alt=""></ion-label>
                  </ion-item>
                </div> -->
                <div class="static_col">
                  <ion-item>
                    <ion-input name="customerPosition" placeholder="Position" [(ngModel)]="user.customerPosition"></ion-input>
                    <ion-label class="mail-icon-wrap"><img src="assets/imgs/icon-3.png" alt=""></ion-label>
                  </ion-item>
                </div>
                <div class="static_col">
                  <ion-item>
                    <ion-input type="number" name="customerMobile" placeholder="Mobile" [(ngModel)]="user.customerMobile"></ion-input>
                    <ion-label class="mail-icon-wrap"><img src="assets/imgs/icon-4.png" alt=""></ion-label>
                  </ion-item>
                </div>
                <div class="static_col">
                  <ion-item>
                    <ion-input  type="number" name="customerPhone" placeholder="Phone" [(ngModel)]="user.customerPhone"></ion-input>
                    <ion-label class="mail-icon-wrap"><img src="assets/imgs/icon-5.png" alt=""></ion-label>
                  </ion-item>
                </div>
                <div class="static_col">
                  <ion-item>
                    <ion-input type="email" name="customerEmail" disabled  placeholder="Email" [(ngModel)]="user.customerEmail"></ion-input>
                    <ion-label class="mail-icon-wrap"><img src="assets/imgs/icon-6.png" alt=""></ion-label>
                  </ion-item>
                </div>
                <div class="static_col" style="display: none;">
                  <ion-item><ion-input name="customerPosition"  placeholder="Position" [(ngModel)]="user.customerId"></ion-input></ion-item>
                </div>
              </ion-list>
              
            <button ion-button  class="log-in-bt" type="submit" (click)="update_profile()" >Update</button>
          </div>
        </ion-col>  
      </ion-row>
    </ion-grid>

  </div>
  <ion-fab right bottom class="home-menu"> 
    <button ion-fab color="danger" (click)="got_to_home()"><ion-icon ios="ios-home-outline" md="ios-home-outline"></ion-icon></button>
  </ion-fab>
</ion-content>
