page-list-projects {
    .bussiness-table-wrap {
        overflow: auto;
      }
    
      .bussiness-table tr:nth-child(even) {
        background-color: #f1f1f1;
      }
    
      .w3-bordered tr,
      .bussiness-table tr {
        border-bottom: 1px solid #ddd;
      }
    
      .bussiness-table td,
      .bussiness-table th {
        padding: 14px 8px;
        display: table-cell;
        text-align: left;
        vertical-align: middle;
      }
    
      .bussiness-table th {
        background: $blue;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
      }
    
      table.bussiness-table {
        width: 100%;
      }
    
      .bussiness-table {
        border: 1px solid #ccc;
      }
    
      .bussiness-table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        display: table;
      }
    
      .add-bt {
        background: #21A024;
        height: 40px;
        text-align: center;
        padding: 0 30px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        border-radius: 35px;
        margin-right: 12px;
    
        img {
          width: 20px;
          float: left;
          margin-right: 8px
        }
    
        span {
          float: left;
          margin: 3px 0 0;
        }
      }
    
      .delete-bt {
        background: rgb(182, 10, 10);
        height: 40px;
        text-align: center;
        padding: 0 30px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        border-radius: 35px;
    
        img {
          width: 20px;
          float: left;
          margin-right: 8px
        }
    
        span {
          float: left;
          margin: 3px 0 0;
        }
      }
    
      .search-wrap {
        float: right;
        width: 37%;
    
        @media(max-width: 767px) {
          float: none;
          width: 100%;
        }
    
    
        input {
          width: 100%;
          height: 40px;
          border-radius: 35px;
          -webkit-border-radius: 35px;
          -moz-border-radius: 35px;
          -ms-border-radius: 35px;
          -o-border-radius: 35px;
          border: 1px solid #ccc;
          padding: 0 12px;
        }
      }
}
