page-payment {
  .payment-wrap {
    width: 50%;
    margin: 6% auto;

    @media(max-width: 767px) {
      width: 100%;
    }
  }

  .pricing-plan {
    @include d-bt;
    width: 100%;
    margin-bottom: 13px;
  }

  .payment-box {
    border: 1px solid #ccc;
    text-align: center;
    height: 545px;
    border-radius: 16px;
    overflow: hidden;


    a.payment-bt-select {
      border: 1px solid #333;
      padding: 12px 18px;
      border-radius: 21px;
      color: #333;
      width: 80%;
      display: block;
      margin: 26px auto 10px;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 12px;
      cursor: default;
     
    }
   
    button.payment-bt-select {
      border: 1px solid #333;
      padding: 12px 18px;
      border-radius: 21px;
      color: #333;
      width: 80%;
      display: block;
      margin: 26px auto 10px;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 12px;
      opacity: 1;
    }

    .top-bar {
      background: #e6e6e6;
      padding: 35px 20px 21px;
      color: #333;

     

      h2 {
        text-transform: uppercase;
        font-size: 14px;
      }

      h5 {
        margin: -5px 0 0px;
        font-size: 12px;
        color: #333;
      }

      h3 {
        font-size: 23px;
        font-weight: 800;
      }
    }

    .features-list {
      ul {
        padding: 0 25px;
      }

      text-align: left;

      li {
        list-style: none;
        margin-bottom: 8px;
        overflow: hidden;
        color: #7e7e7e;

        ion-icon {
          font-size: 25px;
          float: left;
        }

        b {
          margin: 5px 0 0 14px;
          float: left;
        }

        span {
          color: #8b8b8b;
          float: left;
          display: block;
          margin: 6px 0 0 12px;
        }
      }
    }
  }

  .icon_img{
    margin-left:0 !important;
  }

  @media(max-width:1024px) {
    .payment-wrap {
      width: 70%;
      margin: 6% auto;
    }
  }

  @media(max-width:900px) {
    .payment-wrap {
      width: 100%;
      margin: 6% auto;
    }

    .payment-box {
      height: auto;
    }
  }
  a.payment-bt-select.hidsse {
    visibility: hidden;
}
}
