<!--
  Generated template for the BussinesscardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Business card</ion-title>
    <ion-buttons end class="add_btn_area"> <button class="add_btn" (click)="scan_bcard()">
        <ion-icon name="add-circle" ios="ios-add-circle-outline" md="ios-add-circle-outline"></ion-icon>
      </button> </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content  padding>

  <div class="container">
    <ion-grid>
      <ion-row>

        <ion-col col-12 class="search_block">
          <div class="search-wrap">
            <input type="text" placeholder="Search">
            <button class="search_icon">
              <ion-icon name="search"></ion-icon>
            </button>
          </div>
        </ion-col>
      </ion-row>
      


      <div class="card_found" *ngIf="card_list !=''" >
                      
          <ion-row class="bussinesscard-list-wrap" >
              <ion-col col-4 class="bussinesscard-list-wrap-box"  *ngFor ="let data of card_list">
                <!-- <span class="delete"><span></span></span> -->
                <ul>
                  <li>
                    <!-- <h2> <ion-icon ios="ios-person-outline" md="ios-person-outline"></ion-icon> Name :</h2> -->
                    <h3>{{data.firstName}} {{data.lastName}} </h3>
                  </li>
                  <li>
                    <h2><ion-icon ios="ios-briefcase" md="ios-briefcase-outline"></ion-icon>Company: </h2>
                    <h3>&nbsp;{{data.company}}</h3>
                  </li>
                  <li>
                    <h2>  <ion-icon ios="ios-mail" md="ios-mail-outline"></ion-icon>Email: </h2>
                    <h3>&nbsp;{{data.email}}</h3>
                  </li>
                  <li>
                    <h2>  <ion-icon ios="ios-call-outline" md="ios-call-outline"></ion-icon> Telephone: </h2>
                    <div *ngIf="data.phone!='null'">
                        <h3>&nbsp;{{data.phone}}</h3>
                    </div>
                    <div *ngIf="data.phone==null">
                        <h3> </h3>
                    </div>
                   
                  </li>
                  <li>
                    <button (click)="view_details(data.cardId)" class="view-details">View Details</button>
                  </li>
      
                </ul>
              </ion-col>
              
              </ion-row>
        </div>
        <div class="card_not_found"  *ngIf="card_list ==''" >
      
          <ion-row class="bussinesscard-list-wrap" > 
            <ion-col col-4 class="bussinesscard-list-wrap-box no-card-found" style="border-color: white;">
                
              <p>No business card found</p>
              
             
            </ion-col>
          </ion-row>
          </div>

    </ion-grid>
  </div>
  <ion-fab  right bottom class="home-menu" absolute-drag id="mydiv"> 
    <button (click)="got_to_home()" ion-fab color="danger"><ion-icon ios="ios-home-outline" md="ios-home-outline"></ion-icon></button>
  </ion-fab>
  
</ion-content>

<ion-footer class="footer" text-center>
  <div class="footer_icon"><button>
      <input style="display: none"   capture="environment"  accept="image/*"  type="file" (change)="onFileChanged($event)" #fileInput>
      <ion-icon (click)="fileInput.click()" ios="ios-camera" md="md-camera"></ion-icon>
    </button></div>
</ion-footer>

