page-preview-tilk {
    button.canc-bt {
        position: absolute;
        right: 7px;
        top: 13px;
        /* width: 120px; */
        height: 30px;
        background: #ff1a1a;
        color: #fff;
        padding: 0 14px;

        ion-icon{
            margin-left: 8px;
        }
    }
}
